.intro__subtitle {
    max-width: 690px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 32px;
    /* or 142% */
}

@media screen and (max-width: 425px) {
    .intro__subtitle {
        line-height: 30px;
    }
}