.intro__list {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    list-style: none;
    padding: 0;
    /* or 150% */
    margin-bottom: 92px;
}

@media screen and (max-width: 768px) {
    .intro__list {
        margin-bottom: 88px;
    }
}

@media screen and (max-width: 425px) {
    .intro__list {
        margin-bottom: 64px;
    }
}