.lead__image {
    max-width: 984px;
    object-fit: contain;
    display: flex;
    align-self: center;
    margin: 0 148px;
}

@media screen and (max-width: 1024px) {
    .lead__image {
        max-width: 928px;
        object-fit: contain;
        margin: 0 48px;
    }
}

@media screen and (max-width: 768px) {
    .lead__image {
        max-height: 480px;
    }
}

@media screen and (max-width: 425px) {
    .lead__image {
        max-height: 200px;
    }
}