@import url('../place/__image/place__image.css');
@import url('../place/__link/place__link.css');
@import url('../place/__paragraph/place__paragraph.css');
@import url('../place/__title/place__title.css');
@import url('../place/__url-heading/place__url-heading.css');
@import url('../place/__website/place__website.css');
.place {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 48px 40px;
}

.place:last-child {
    margin-bottom: 92px;
}

@media screen and (max-width: 1024px) {
    .place {
        grid-template-columns: minmax(10px, 440px) 1fr;
        gap: 48px 32px;
    }
}

@media screen and (max-width: 768px) {
    .place {
        grid-template-columns: minmax(10px, 340px) 1fr;
        gap: 48px 28px;
    }
}

@media screen and (max-width: 425px) {
    .place {
        grid-template-columns: auto;
        gap: 32px;
    }
}