@import url('./__link/footer__link.css');
@import url('./__links/footer__links.css');
@import url('./__copyright/footer__copyright.css');
.footer {
    display: flex;
    justify-content: space-between;
    margin: 92px auto 24px auto;
    font-family: "Inter", Arial, sans-serif;
    max-width: 1184px;
}

@media screen and (max-width: 768px) {
    .footer {
        margin: 88px 24px 24px 24px;
    }
}

@media screen and (max-width: 425px) {
    .footer {
        flex-direction: column;
        margin-left: 16px;
        margin-top: 64px;
    }
}